@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .container {
    height: 100vh; 
    width: 100vw;  
    background-color: #171C28;
    display: flex;
    color: white;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  /* Header section */
  .header {
    width: 100vw;
    background-color: #4a64e0; /* fon rangi */
  }
  
  .header_section {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo {
    width: 3rem;
    height: 3rem;
    margin-left: 6rem;
  }
  
  .title {
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .sign-in {
    font-weight: bold;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;    
  }
  
  .radio_buttons {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #cdc9c9;
    border-radius: 50%;
    margin-right: 6rem;
  }
  
  .user {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    margin-left: 4px;
    margin-top: 4px;
  }
  /*Dashboard*/
  .top-nav {
    width: 100vw;
    display: flex;
    /* justify-content: space-between; */
    padding: 1rem 2rem;
    background-color: #232935;

  }
  .dashboard {
    width: 20%;
    /* height: 100%; */
    /* border-right: 1px solid white; */
    display: flex;
    align-items: center;
  }
  
  .dashboard_img {
    width: 2rem;
    height: 2rem;
    margin-left: 6rem;
  }
  .dashboard_title {
    margin-left: 1rem;
    font-size:18px;
  }
 
  .info_icon {
    width: 2rem;
    height: 2rem;
  }
  .info_title {
    margin-left: 1rem;
    font-size:18px;
  }
  .dropdown-wrapper {
    width: 15%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle {
    
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid white; */
    /* border-r/adius: 6px; */
    background-color: transparent;
    font-weight: 600;
  }
  
  .dropdown-toggle span:last-child {
    transition: transform 0.3s;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top:45px;
    left: 0;
    min-width: 200px;
    border-radius: 6px;
    /* border-left: 1px solid white; */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99;
    animation: fadeIn 0.3s ease-in-out;
    background-color: #232935;
  }
  
  .dropdown-menu a {
    /* display: block; */
    /* font-size: 16px; */
    width: 100%;
    color: white;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #3a4060;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu a:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .show-menu {
    display: block;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  
  .chat {
    width: 10%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  .chat_img {
    width: 2rem;
    height: 2rem;
  }
  .chat_title {
    margin-left: 1rem;
    font-size:18px;
  }
  .profile {
    width: 10%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  .profile_img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .profile_title {
    margin-left: 1rem;
    font-size:18px;
  }
  .toPin {
    width: 30%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left:6rem;
  }
  
  .toPin_img {
    width: 1.5rem;
    height: 1.5rem;
  }  
  .content {
    height:auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    border-radius: 6px;
    padding: 1rem 2rem;
    gap: 1rem; 
    align-content: flex-start; 
    justify-content: center; 
    align-items: flex-start;  
  }
  
  
  .content_cards {
    width: 380px;
    height: 94px;
    border-radius: 10px;
    background-color: #232935;
    display: flex;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    /* transition: all 0.8s ease-in-out; */
    /* display: block; */
    /* flex-shrink: 0;  */
    /* will-change: transform;
    cursor: pointer; */
  }
  .content_cards:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.8);
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
  }
  .content_icon{
    width:  2rem;
    height: 2rem;
    margin-left: 7rem;
  }
  .content_title{
    margin-left: 1rem;
    font-size:20px;
  }