@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .container {
    height: 100vh; 
    width: 100vw;  
    background-color: #171C28;
    display: flex;
    color: white;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    overflow-x: hidden  ;
  }
  /* Header section */
  .header {
    width: 100vw;
    background-color: #4a64e0; /* fon rangi */
  }
  
  .header_section {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo {
    width: 3rem;
    height: 3rem;
    margin-left: 6rem;
  }
  
  .title {
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .sign-in {
    font-weight: bold;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;    
  }
  
  .radio_buttons {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #cdc9c9;
    border-radius: 50%;
    margin-right: 6rem;
  }
  
  .user {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    margin-left: 4px;
    margin-top: 4px;
  }
  /*Dashboard*/
  .top-nav {
    width: 100vw;
    display: flex;
    /* justify-content: space-between; */
    padding: 1rem 2rem;
    background-color: #232935;
  }
  .active-nav {
    color: #FFA500; 
  }
  .dashboard {
    width: 20%;
    /* height: 100%; */
    /* border-right: 1px solid white; */
    display: flex;
    align-items: center;
  }
  
  .dashboard_img {
    width: 2rem;
    height: 2rem;
    margin-left: 6rem;
  }
  .dashboard_title {
    margin-left: 1rem;
    font-size:18px;
  }
 
  .info_icon {
    width: 2rem;
    height: 2rem;
  }
  .info_title {
    margin-left: 1rem;
    font-size:18px;
  }
  .dropdown-wrapper {
    width: 15%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle {
    
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid white; */
    /* border-r/adius: 6px; */
    background-color: transparent;
    font-weight: 600;
  }
  
  .dropdown-toggle span:last-child {
    transition: transform 0.3s;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top:45px;
    left: 0;
    min-width: 200px;
    border-radius: 6px;
    /* border-left: 1px solid white; */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99;
    animation: fadeIn 0.3s ease-in-out;
    background-color: #232935;
  }
  
  .dropdown-menu a {
    /* display: block; */
    /* font-size: 16px; */
    width: 100%;
    color: white;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #3a4060;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu a:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .show-menu {
    display: block;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  
  .chat {
    width: 10%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  .chat_img {
    width: 2rem;
    height: 2rem;
  }
  .chat_title {
    margin-left: 1rem;
    font-size:18px;
  }
  .profile {
    width: 10%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  .profile_img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .profile_title {
    margin-left: 1rem;
    font-size:18px;
  }
  .toPin {
    width: 30%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left:6rem;
  }
  
  .toPin_img {
    width: 1.5rem;
    height: 1.5rem;
  }  
  .content {
    height:auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    border-radius: 6px;
    padding: 1rem 2rem;
    gap: 1rem; 
    align-content: flex-start; 
    justify-content: center; 
    align-items: flex-start;  
  }
  
  
  .content_cards {
    width: 380px;
    height: 94px;
    border-radius: 10px;
    background-color: #232935;
    display: flex;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    /* transition: all 0.8s ease-in-out; */
    /* display: block; */
    /* flex-shrink: 0;  */
    /* will-change: transform;
    cursor: pointer; */
  }
  .content_cards:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.8);
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
  }
  .content_icon{
    width:  2rem;
    height: 2rem;
    margin-left: 7rem;
  }
  .content_title{
    margin-left: 1rem;
    font-size:20px;
  }
    
  .breadcrumb-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .breadcrumb {
    position: relative;
    width: 85%;
    height: 70px;
    background-color: #1f2937; /* asosiy orqa fon */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0 1.5rem;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    z-index: 1;
    overflow: hidden;
  }
  
  /* Chap tomondan qora soyadek effekt */
  .breadcrumb::before,
  .breadcrumb::after {

    content: "";
    position: absolute;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: #2c3652; /* chap va o‘ng fon */
    z-index: -1;
    clip-path: polygon(0 0, 80% 0, 100% 0%, 80% 100%, 0 100%);
  }
  
  .breadcrumb::after {
    
    right: -50px;
    transform: scaleX(-1); /* o‘ng tomonni akslantirish */
  }
  
  .breadcrumb::before {
    left: -50px;
  }
    
  .breadcrumb small {
    color: #9ca3af;
    margin-left: 8px;
  }
  .teachers-years{
    width: 85%;
    height: 600px;
    background-color: #1f2937;
    border-radius: 10px;
  }





  #search {
    width: 300px;
    padding: 12px 20px;
    border-radius: 25px;
    margin: 20px auto 30px; /* <-- faqat shu qator kerak */
    border: none;
    outline: none;
    background-color: #2c3547;
    color: white;
    display: block;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  

  .card {
    background-color: #1d2736;
    border: 1px solid #514848 ;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%;
    margin: 0 auto 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .card:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.8);
    transform: scale(1);
    transition: all 0.4s ease-in-out;
  }

  .card-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-left img {
    width: 24px;
    height: 24px;
  }

  .card-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #444;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: #00c6ff;
    transition: .4s;
    border-radius: 50%;
  }

  .switch input:checked + .slider {
    background-color: #444;
  }

  .switch input:checked + .slider:before {
    transform: translateX(16px);
  }

  .icon-btn {
    cursor: pointer;
    font-size: 24px;
  }

  .edit {
    color: #00c6ff;
  }

  .delete {
    color: red;
  }
  .card-text{
    font-size: 20px;
    color: white;
  }


  .modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #2c3547;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  color: white;
  position: relative;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: #1d2736;
  color: white;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
