@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .container {
    height: 100vh; 
    width: 100vw;  
    background-color: #171C28;
    display: flex;
    color: white;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  /* Header section */
  .header {
    width: 100vw;
    background-color: #4a64e0; /* fon rangi */
  }
  
  .header_section {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo {
    width: 3rem;
    height: 3rem;
    margin-left: 6rem;
  }
  
  .title {
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .sign-in {
    font-weight: bold;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;    
  }
  
  .radio_buttons {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #cdc9c9;
    border-radius: 50%;
    margin-right: 6rem;
  }
  
  .user {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    margin-left: 4px;
    margin-top: 4px;
  }
  /*Dashboard*/
  .top-nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    /* justify-content: space-between; */
    padding: 1rem 2rem;
    background-color: #232935;

  }
  .dashboard {
    width: 30%;
    /* height: 100%; */
    /* border-right: 1px solid white; */
    display: flex;
    align-items: center;
  }
  
  .dashboard_img {
    width: 2rem;
    height: 2rem;
    margin-left: 6rem;
  }
  .dashboard_title {
    margin-left: 1rem;
  }
 
  /* .information {
    width: 10%;
    border: 1px solid white;
    display: flex;
    align-items: center;
  } */
  .dropdown-wrapper {
    width: 15%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle {
    
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid white; */
    /* border-r/adius: 6px; */
    background-color: transparent;
    font-weight: 600;
  }
  
  .dropdown-toggle span:last-child {
    transition: transform 0.3s;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top:30px;
    left: 0;
    min-width: 220px;
    border-radius: 0 6px 6px 0;
    /* border-left: 1px solid white; */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99;
    animation: fadeIn 0.3s ease-in-out;
    background-color: transparent;
  }
  
  .dropdown-menu a {
    color: white;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #3a4060;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu a:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .show-menu {
    display: block;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  
  .chat {
    width: 10%;
    border: 1px solid white;
  }
  .profile {
    width: 10%;
    border: 1px solid white;
  }
  .toPin {
    width: 35%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
  }
  
  .toPin_img {
    width: 1.5rem;
    height: 1.5rem;
  }  